version: "3.7"
services:
  ray-head:
    image: szmurlor/bdcalc:0.1
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "4"
          memory: 8192M
      restart_policy:
        condition: on-failure
    networks:
      hostnet: {}  
    #networks:
    #  - doses-net
    dns:
      - 10.40.33.2
      - 10.40.33.3
    volumes:
      - doses-nfs:/doses-nfs
    deploy:
      placement:
        constraints: [node.role == manager]      
    command: /bin/bash start-head.sh
  ray-node:
    image: szmurlor/bdcalc:0.1
    deploy:
      # start only one service on each node of a swarm
      mode: global
      resources:
        limits:
          cpus: "4"
          memory: 8192M
      restart_policy:
        condition: on-failure
    networks:
      hostnet: {}  
      #networks:
      #- doses-net
    dns:
      - 10.40.33.2
      - 10.40.33.3
    volumes:
      - doses-nfs:/doses-nfs
    command: /bin/bash start-node.sh

networks:
        #doses-net:
  hostnet:
    external: true    
    name: host
volumes:
  doses-nfs:
    driver_opts:
      type: "nfs"
      o: "addr=goope-nas-2.iem.pw.edu.pl,nolock,soft,rw"
      device: ":/nfs/doses"
